In [1]:
pip install bokeh

Requirement already satisfied: bokeh in c:\users\chand\anaconda3\lib\site-packages (2.4.3)
Requirement already satisfied: packaging>=16.8 in c:\users\chand\anaconda3\lib\site-packages (from bokeh) (22.0)
Requirement already satisfied: PyYAML>=3.10 in c:\users\chand\anaconda3\lib\site-packages (from bokeh) (6.0)
Requirement already satisfied: tornado>=5.1 in c:\users\chand\anaconda3\lib\site-packages (from bokeh) (6.1)
Requirement already satisfied: numpy>=1.11.3 in c:\users\chand\anaconda3\lib\site-packages (from bokeh) (1.23.5)
Requirement already satisfied: pillow>=7.1.0 in c:\users\chand\anaconda3\lib\site-packages (from bokeh) (9.4.0)
Requirement already satisfied: typing-extensions>=3.10.0 in c:\users\chand\anaconda3\lib\site-packages (from bokeh) (4.4.0)
Requirement already satisfied: Jinja2>=2.9 in c:\users\chand\anaconda3\lib\site-packages (from bokeh) (3.1.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\chand\anaconda3\lib\site-packages (from Jinja2>=2.9->bokeh) (2.1.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import bokeh.io

In [3]:
import bokeh.plotting

In [8]:
from bokeh.io import output_notebook

In [10]:
from bokeh.plotting import figure,output_file,show

In [12]:
from bokeh.sampledata.iris import flowers

In [13]:
flowers

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [16]:
output_file('test.html')
p=figure(title='test flower')
p.xaxis.axis_label='petal_length'
p.yaxis.axis_label='petal_width'
p.circle(flowers['petal_length'],flowers['petal_width'])
show(p)

In [17]:
output_file('test.html')
p=figure(title='test flower')
p.xaxis.axis_label='petal_length'
p.yaxis.axis_label='petal_width'
p.line(flowers['petal_length'],flowers['petal_width'])
show(p)

In [18]:
x=[1,2,3,4,5,6,6,3]
y=[3,4,5,7,7,5,4,4]
output_file=('line.html')
p=figure(title='line graph')
p.line(x,y)
show(p)

In [19]:
x=[1,2,3,4,5,6,6,3]
y=[3,4,5,7,7,5,4,4]
output_file=('line.html')
p=figure(title='line graph')
p.circle(x,y)
show(p)

In [24]:
x=[1,2,3,4,5,6,6,3]
y=[3,4,5,7,7,5,4,4]
output_file=('line.html')
p=figure(title='line graph')
p.square(x,y,size=10)
show(p)

In [23]:
x=[1,2,3,4,5,6,6,3]
y=[3,4,5,7,7,5,4,4]
output_file=('line.html')
p=figure(title='line graph')
p.triangle(x,y,size=20)
show(p)

In [25]:
x=[1,2,3,4,5,6,6,3]
y=[3,4,5,7,7,5,4,4]
output_file=('line.html')
p=figure(title='line graph')
p.triangle(x,y,size=30,fill_color='green',legend_label='this is my triangle points')
show(p)